# TinkerStationScreen
public slimeknights.tconstruct.tables.client.inventory.TinkerStationScreen f_119921_ # currentLayout
public slimeknights.tconstruct.tables.client.inventory.TinkerStationScreen f_119922_ # buttonsScreen
public slimeknights.tconstruct.library.tools.SlotType RequiredArgsConstructor

public net.minecraft.client.gui.screens.Screen *
public net.minecraft.client.gui.screens.Screen *()
public net.minecraft.client.gui.components.AbstractWidget *
public net.minecraft.client.gui.components.AbstractWidget *()